@media(max-width: 1200px) {
    .container {
        max-width: 768px;
    }
}

@media(max-width: 992px) {
    .container {
        max-width: 768px;
    }
    
    body {
        background-size: contain;
    }
}

@media(max-width: 768px) {
    .container {
        max-width: 95%;
    }
    
    #interval-panel button {
        margin: 10px;
    }
    
    body {
        background-size: contain;
    }
}

@media(max-width: 480) {
    .container {
        max-width: 95%;
    }
    
    body {
        background-size: contain;
    }
}